body
  background-color :transparent
h1
  transition: color .5s

.btn-toolbar
  margin-bottom: 20px

.connection
  position: absolute
  text-align: center
  top: 0
  left: 0
  width: 100%
  height: 0
  z-index: 2000
.connection > .alert
  border-top: 0
  border-top-left-radius: 0
  border-top-right-radius: 0
  display: inline-block

#target-box
  width:50px
  height: 50px
  opacity:20%
  position: absolute
  top: 0%
  left:10%
  transform: translate(0%, 0%)
  transform-origin: 0% 0%;
  border: 5px dotted #fff

#target
  background url(https://ik.imagekit.io/ctmfcct2/balltrans_aG1oGmtE10.png?ik-sdk-version=javascript-1.4.3&updatedAt=1665248818535) no-repeat
  background-size:70px
  width: 90px
  height: 90px
  position: absolute
  top: 50%
  left: 50%;
  transform: translate(-50%, -50%)
  border-radius: 50%
  transform-origin:50% 50%
  transition: all 1.2s ease-in-out
  animation:initial
  transform: scale(2)
  filter:drop-shadow(4px 4px 5px #000000c4)
  
  
#target2
  background url(https://ik.imagekit.io/ctmfcct2/balltrans_aG1oGmtE10.png?ik-sdk-version=javascript-1.4.3&updatedAt=1665248818535) no-repeat
  background-size:70px
  width: 90px
  height: 90px
  position: absolute
  top: 50%
  left: 50%;
  transform: translate(-50%, -50%)
  border-radius: 50%
  transform-origin:50% 50%
  transition: all 1.2s ease-in-out
  animation:initial
  transform: scale(2)
  filter:drop-shadow(4px 4px 5px #000000c4)
  
#kent1
  width: 195px
  height: 75px
  position: absolute
  top: 7%
  left: 7%;
  transform: translate(-50%, -50%)
  color: white
  font-size: 30px
  border: 2px solid white
  font-weight: bold
  
#kent2
  width: 220px
  height: 220px
  position: absolute
  top:26%
  left: 7%;
  transform: translate(-50%, -50%)
  color: white
  font-size: 21px

#kent3
  width: 220px
  height: 220px
  position: absolute
  top:55%
  left: 7%;
  transform: translate(-50%, -50%)
  color: white
  font-size: 21px
  border: 2px solid white
  
#kent4
  width: 220px
  height: 220px
  position: absolute
  top:26%
  left: 63%;
  transform: translate(-50%, -50%)
  color: white
  font-size: 21px

#kent5
  width: 220px
  height: 220px
  position: absolute
  top:55%
  left: 63%;
  transform: translate(-50%, -50%)
  color: white
  font-size: 21px
  border: 2px solid white


#circle
 height:30px
 width:42px
 position: absolute
 top: 50%
 left: 50%
 transform: translate(-50%, -50%)
 border-radius:50%
 transform-origin:0% 0%
 
#shadowcircle1
 height:28px
 width:40px
 position: absolute
 top: 50.3%
 left: 50.1%
 transform: translate(-50%, -50%)
 border-radius:50%
 transform-origin:0% 0%
 transition: opacity 0.2s ease-in-out !important
 transition: transform 1.2s ease-in-out !important
 animation:initial

#shadowcircle2
 height:28px
 width:40px
 position: absolute
 top: 50.3%
 left: 50.1%
 transform: translate(-50%, -50%)
 border-radius:50%
 transform-origin:0% 0%
 transition: opacity 0.2s ease-in-out !important
 transition: transform 1.2s ease-in-out !important
 animation:initial

@keyframes crescendo 
  transition-delay: 2s
  0% 
  background-size:28px
  width:28px
  height:28px
  100% 
  background-size:50px 
  width:50px
  height:50px
  

#trackpath 
  stroke-dasharray: 2000
  animation: initial
  transition: opacity 2s ease-in-out !important
  transition: stroke-dashoffset 5s ease-in-out !important
  z-index: 9
  
#trackpathh 
  stroke-dasharray: 2000
  animation: intial
  transition: opacity 3s ease-in-out !important
  transition: stroke-dashoffset 7.5s ease-in-out !important
  z-index: 9
  
#trent 
  z-index: 9

 
@keyframes pop
  0%
  stroke-dashoffset: 2000
  100%
  stroke-dashoffset: 0
  
#lengths
  position: absolute
  top: 38%
  left: 35%;
  transform: translate(-50%, -50%)
  z-index:-3
  
#rent
  position: absolute
  top: 38%
  left: 35%;
  transform: translate(-50%, -50%)
  z-index:-4
  
#vent
  position: absolute
  top: 38%
  left: 35%;
  transform: translate(-50%, -50%)
  z-index:-4
  

  
#cleanslate
  width: 195px
  height: 90px
  position: absolute
  top: 5%
  left: 63%;
  transform: translate(-50%, -50%)
  color: white
  font-size: 36px
  border: 2px solid white
  font-weight: bold
  
#status
 height:35px
 width:35px
 position: absolute
 top: 37.5%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white

#colors
 height:35px
 width:35px
 position: absolute
 top: 67%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white
 
#colors2
 height:35px
 width:35px
 position: absolute
 top: 67%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white
 
#colors3
 height:35px
 width:35px
 position: absolute
 top: 67%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white
 
#colors4
 height:35px
 width:35px
 position: absolute
 top: 67%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white

#colors5
 height:35px
 width:35px
 position: absolute
 top: 71%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white
 
#colors6
 height:35px
 width:35px
 position: absolute
 top: 71%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white
 
#colors7
 height:35px
 width:35px
 position: absolute
 top: 71%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white
 
#colors8
 height:35px
 width:35px
 position: absolute
 top: 71%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white 
 
#colors9
 height:35px
 width:35px
 position: absolute
 top: 75%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white 
 
#colors10
 height:35px
 width:35px
 position: absolute
 top: 75%
 left: 3%
 border-radius:50%
 transform-origin:0% 0%
 color: white 
 
#statustext
 vertical-align: middle
 position: absolute
 top: 36%
 left: 6%
 color: white
 font-size: 20px
 font-weight: bold
 width:120px
 overflow-wrap: break-word
 line-height:22px
 